@model IEnumerable<OnlineShoppingDemo2.Models.Product>
@{
    ViewBag.Title = "Home Page";
}



<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-2 headingtag">
                <h1>Welcome to our<br>Online Shopping </h1>
                <p>Succcess is the new beginning into life </p>
              
            </div>
            <div class="col-2 topImage">
                <img src="https://cdn.pixabay.com/photo/2015/08/25/11/50/shop-906722__480.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
</div>









<div class="small-container">

    <h2 class="title">Mens Shop</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Categories.CateName == "Mens")
            {

                <div class="col-4">

                    <img src="../Images/@item.ImageUrl" alt="" width="200px" height="250px">
                    <h4>@item.Name</h4>
                    <p>@item.Price</p>

                    <a class="buttonDetails">@Html.ActionLink("Details", "ShowDetails", "ProductUser", new { id = item.Id, area = "" }, new { @class = "navbar-brand" })</a>
                </div>
            }
        }
    </div>


    <h2 class="title">Kids Shop</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Categories.CateName == "Kids")
            {

                <div class="col-4">

                    <img src="../Images/@item.ImageUrl" alt="" width="200px" height="250px">
                    <h4>@item.Name</h4>
                    <p>@item.Price</p>

                    @Html.ActionLink("Details", "ShowDetails", "ProductUser", new { id = item.Id, area = "" }, new { @class = "navbar-brand" })
                </div>
            }
        }
    </div>

    <h2 class="title">Womens Shop</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Categories.CateName == "Womens")
            {

                <div class="col-4">

                    <img src="../Images/@item.ImageUrl" alt="" width="200px" height="250px">
                    <h4>@item.Name</h4>
                    <p>@item.Price</p>

                    @Html.ActionLink("Details", "ShowDetails", "ProductUser", new { id = item.Id, area = "" }, new { @class = "navbar-brand" })
                </div>
            }
        }
    </div>
</div>






